.editor {
  min-height: 100%;
  width: 100%;
  font-family: monospace;
  font-size: 13px;
  line-height: 1.75;
  display: inline-block;
  white-space: pre;
  padding-left: 45px;
  color: #333;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  font-size: 12px;
  overflow-y: hidden;
  position: relative;
}

.editor:before {
  content: attr(data-lines);
  /*content: "1\a 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A 10\A 11\A 12\A 13\A 14\A 15\A 16\A 17\A";*/
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  padding-left: 7.5px;
  text-align: center;
  background: #FDF6E3;
  height: 100%;
  white-space: pre;
}

.ace-editor-wrapper {
  -ms-flex: 1;
  flex: 1;
  background: #FDF6E3;
}

.editor-switch {
  position: absolute;
  float: right;
  top: 5px;
  right: 5px;
  z-index: 9999;
}

button {
  border-radius: 10px;
}
