<ng-template #content let-modal>
  <div class="modal-header">
    <h1>Loupe Angular</h1>
    <button type="button" class="modalClose" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h2>Intro</h2>
    <p>Loupe is a little visualisation to help you understand how JavaScript's call stack/event loop/callback queue
      interact with each other.</p>
    <p>The best thing to do to understand how this works is watch this video, then when you are ready, <a
      onClick={this.closeModal}>go play!</a></p>

    <!--    <div class="video-container">-->
    <iframe src="//www.youtube.com/embed/8aGhZQkoFbQ" allowFullScreen></iframe>
    <!--    </div>-->
    <h2>Instructions</h2>
    <ul>
      <li>Write some code in the text editor on the left.</li>
      <li>Hit the save-and-run button and watch it run.</li>
      <li>You can create html elements in the gray box at the bottom left by hitting the edit button.</li>
      <li>Listen for DOM events on them with
        <pre>$.on("button", "click", function () </pre>
      </li>
      <li>Hit the tool icon at the top left to open a menu with extra settings.</li>
      <li>Need more help? Ping <a href="http://twitter.com/philip_roberts">@sencer_ozcan</a> on twitter.</li>
    </ul>
    <h2>How does this work?</h2>
    <ul>
      <li>Loupe runs entirely in your browser.</li>
      <li>It takes your code.</li>
      <li>Runs it through esprima, a JS parser.</li>
      <li>Instruments it a bunch so that loupe knows where function calls, timeouts, dom events, etc happen.</li>
      <li>Adds a whole bunch of while loops everywhere to slow down the code as it runs.</li>
      <li>This modified code is then turned back into JavaScript and sent to a webworker (in your browser) which runs
        it.
      </li>
      <li>As it runs, the instrumentation sends messages to the visualisation about what is going on so it can animate
        things at the right time.
      </li>
      <li>It also has some extra magic to make dom events, and timers work properly.</li>
    </ul>
  </div>
  <div class="modal-footer">
    <p class="info"><em>Built by <a href="http://github.com/latentflip">Philip Roberts</a> from <a
      href="http://andyet.com">&amp;yet</a>. Code is on <a href="https://github.com/latentflip/loupe">github</a></em>.
    </p>
  </div>
</ng-template>

<div class='flexContainer'>
  <nav class="top-nav">
    <button class='settings-button' (click)="this.toggleSettings()">⚒</button>
    <h1>loupe-angular</h1>
    <a class='modal-button' (click)="this.openModal(content)">help</a>
  </nav>
  <div class="flexChild rowParent">
    <div settingsPanel *ngIf="this.isSettingsOpen" class="flexChild columnParent settingsColumn">

    </div>

    <div class="flexChild columnParent codeColumn">
      <div class="flexChild columnParent editorBox">

        <app-editor class="flexChild columnParent">

        </app-editor>
      </div>

      <div class="flexChild columnParent htmlEditorBox">
        <app-html-editor class="flexChild columnParent">

        </app-html-editor>
      </div>
    </div>

    <div class="flexChild columnParent">
      <div class="flexChild rowParent stackRow">
        <div class="stackBox columnParent">

          <div appCallStack class="stack-wrapper flexChild">

          </div>

          <div spinnerWrapper class="spinner-wrapper">

          </div>
        </div>

        <div class="flexChild columnParent">
          <div webApis class="webapis flexChild">

          </div>
        </div>
      </div>

      <div class="flexChild callbackRow columnParent">
        <!--            { this.state.code.simulateRenders ? <RenderQueue /> : null }-->
        <div callbackQueue class="callback-queue flexChild">

        </div>

      </div>
    </div>
  </div>
</div>
