.spinner-circle {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  border: 6px coral solid;
}

.spinner-arrow {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 16px 16px 16px;
  border-color: transparent transparent white transparent;
  position: absolute;
}

.spinner-arrow:after {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent coral transparent;
  position: absolute;
}

.spinner-arrow-left:after {
  left: -12px;
  top: 4px;
}

.spinner-arrow-left {
  left: -2.5px;
  top: calc(50% - 9px);
}

.spinner-arrow-right {
  right: -2px;
  top: calc(50% - 6px);
  border-width: 16px 16px 0px 16px;
  border-color: white transparent transparent transparent;
}

.spinner-arrow-right:after {
  border-width: 12px 12px 0px 12px;
  border-color: coral transparent transparent transparent;

  left: -12px;
  bottom: 4px;
}
